

/* Tipo de Dispositivos:

All:        ----> Para todos os dispositivos;
Braille:    ----> Para dispositivos táteis;
Embossed:   ----> Para dispositivos que imprime em BRAILE;
HandHeld:   ----> Para dispositivos portatis, geralmente com telas pequenas e banda limitada;
Print       ----> Para impressão em papel;
Projection: ----> Para apresentações em PPS;
Screen      ----> Para monitores ou dispositivos com telas coloridas e resoluções adequada;
Speech      ----> Para sintetizadores de voz. As CSS-2 tem uma especificação de CSS chamada Aural, onde podemos formatar a vos dos sintetizadores;


Orientação:

Portrait:   ----> Altura maior que a largura;
Landscape:  ----> Largura maior que a altura. */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {

    height: 600px;
    width: 600px;
    background: blue;

}

@media (max-width: 600px){

    div {
        background-color: red;
        height: 200px;
        width: 200px;
    }

}